ion-button {
    width: 90%;
    margin: 5%;
}
.icons {
    width: 90%;
     margin: 5%;
}
// ion-toggle {
//     float: right;
// }

// form {
//    // background-image: url("/assets/images/background.jpeg");
//    background-color: #3e5c9a;
//     // height: 100%;
// }

// ion-item {
//     --border-color: var(--ion-color-primary, #3e5c9a);
// }
// ion-content{
//     background-color: #3e5c9a;
// }