<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
 
  <!-- <ion-button (click)="update()">Update</ion-button> 

<ion-item *ngFor="let grocery of groceryList | async">
  {{grocery.name}}
  {{grocery.price}}
  {{grocery.type}}
  
  </ion-item> -->
  <ion-item *ngFor="let item of itemList" (click)="add(item)">
    
    {{item.name}} 
    {{item.price}}
    {{item.type}}
    {{item.key}}
    <!-- <ion-button (click)="add(list)">Add</ion-button> -->
    </ion-item>
    <ion-button (click)="logout()">log out</ion-button>
</ion-content>
